{% extends "wrapper.html" %}
{% block content %}
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1></h1>
            </div>
        </div>
    </div>
</div>

<div id="dg">
    <div class="container">
        <div class="row centered">
            <h4>{{data[lang]['lwor']}}</h4>
            {% if current_user.is_authenticated and current_user.id == 1%}
            <div>
                <a href="news" class="btn btn-warning">{{data[lang]['add_work']}}</a>
            </div>
            {% endif %}
            {% for user in range(user_list|length) %}
            {% if user % 2 != 0 %}
            <div style="  display: flex;
  justify-content: space-evenly;">
                <div>
                    <div class="tilt">
                        <h2>{{user_list[user - 1].name_bot}}</h2>
                        <a href="{{user_list[user - 1].url}}"><img
                                src="static\img\inews_tmp\{{user_list[user - 1].foto_id}}.jpg" alt=""></a>
                    </div>
                    {% if current_user.is_authenticated%}
                    <a style="margin-top:15px;"
                       href="/reviews_add_one/{{ user_list[user - 1].id }}"
                       class="btn btn-info">{{data[lang]['add_review']}}</a>
                    {% if current_user.is_authenticated and current_user.id == 1%}
                    <div>
                        <a href="/news/{{ user_list[user - 1].id }}" class="btn btn-warning">{{data[lang]['change']}}</a>
                        <a href="/news_delete/{{ user_list[user - 1].id }}"
                           class="btn btn-danger">{{data[lang]['delete']}}</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                <div>
                    <div class="tilt">
                        <h2>{{user_list[user].name_bot}}</h2>
                        <a href="{{user_list[user].url}}"><img
                                src="static\img\inews_tmp\{{user_list[user].foto_id}}.jpg"
                                alt="" ></a>
                    </div>
                    {% if current_user.is_authenticated%}
                    <a style="margin-top:15px;" href="/reviews_add_one/{{ user_list[user].id }}"
                       class="btn btn-info">{{data[lang]['add_review']}}</a>
                    {% if current_user.is_authenticated and current_user.id == 1%}
                    <div>
                        <a href="/news/{{ user_list[user].id }}" class="btn btn-warning">{{data[lang]['change']}}</a>
                        <a href="/news_delete/{{ user_list[user].id }}"
                           class="btn btn-danger">{{data[lang]['delete']}}</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% if user_list|length % 2 != 0 %}
            <div>
                <div class="tilt">
                    <h2>{{user_list[user_list|length - 1].name_bot}}</h2>
                    <a href="{{user_list[user_list|length - 1].url}}"><img
                            src="static\img\inews_tmp\{{user_list[user_list|length - 1].foto_id}}.jpg"
                            alt=""></a>
                </div>
                {% if current_user.is_authenticated %}
                <a style="margin-top:15px;"
                   href="/reviews_add_one/{{ user_list[user_list|length - 1].id }}"
                   class="btn btn-info">{{data[lang]['add_review']}}</a>
                {% if current_user.is_authenticated and current_user.id == 1%}
                <div>
                    <a href="/news/{{ user_list[user_list|length - 1].id }}" class="btn btn-warning">{{data[lang]['change']}}</a>
                    <a href="/news_delete/{{ user_list[user_list|length - 1].id }}"
                       class="btn btn-danger">{{data[lang]['delete']}}</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}