{% extends "wrapper.html" %}
{% block content %}
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1></h1>
            </div>
        </div>
    </div>
</div>
<div id="dg">
    <div class="container">
        <div class="row centered">
            <h4>{{data[lang]['lwor']}}</h4>
            <br>
            <div class="col-lg-5 col-lg-offset-0">
                <div class="tilt">
                    <img src="/static/img/sample.png" alt="" ,
                         height="400" , width="200">
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-4">
                <div class="tilt">
                    <img src="/static/img/sample.png" alt="" ,
                         height="400" , width="200">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}